.DS_Store
crawling_data
node_modules
checker/node_modules
.cache
src/__pycache__/
src/strategies/__pycache__/
*.pyc
.env*

*yarn.lock

# IDE Files
.idea/
*.iml
geckodriver.log

configs/public
configs/private
