language: python
sudo: required
before_install:
  - sudo apt-get update -y
services:
  - docker
install:
  # We create a .env file to bypass the initial check done by ./docsearch. If
  # the file is not here, it will ask questions to create the file. We don't
  # need that in CI.
  - touch .env
  - sudo pip install pipenv
  - sudo pipenv install
  - sudo pipenv run ./docsearch test true || echo "first test failed"
  - sudo pipenv run ./docsearch test true || echo "2nd test failed"
  - sudo pipenv run ./docsearch test true || echo "3rd test failed"
  - sudo ls -a /usr/bin
script:
  - sudo pipenv run ./docsearch test true
notifications:
  email: false
  slack:
    secure: e5Xx73XfAMaMwXGrrIjsY6tZ+tcl/IZq/6aKPW/Aw7+Eb4ZO0CnB0XPbUSAvxDMo13/BPbribu5t3JmLH6271ITl8tizveBxOlZjRhs/BIZwHrzVsZoUnirVlxkRvpOxyqQCtqeENA3jglno4boWj3DjI1nwd2ced3NLcOgJsIEFXYj4mhCFtN4cTd7C6Mo6e0NYMrZj6SvXjhUXmWX7ySyfSfu/udAxa0D7YOttsx6g9J/SbxkjW4QETVGOGMueqtZHnsipT0t/NnoKGxiUcS/+vZ/CRTdnysL9udcabdc/4qUp9NidFAqjt1BUb4bak89Uspj/Z+gjHBonb6a7mCWc7Mdt/hdJLXtHy0e0gZq5H6+gF7nnOrUIgo/NysZN8A7tj+68OKultdK63tkN9II1kh/iAgRcE9SExcBE3pGm2BNW2L4ieN6qC12oxeVH+DxFjvxQtObur3uX/MBs4PZrzH8yoRyNDhpP2cEJUHXuEdZBfK5/Trsehe6/772Ezh7Zz2baXUj76HW8M0s+tSK7ewP5OW59zEEaqRGddlBFqxyGKn4FRiSNBaAqdWuzZwYppJ8ivd+hbOHXBb+S08TIdL4RkxXwG1JNcZzMDiJBRySeIiNky4bbShgtsbXT8vpWUgTOyIbIaSm9oFKnUK4qkwjb6expAER4iagdrLA=
