[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "==1.5.0"
algoliasearch = "==1.13.0"
pyperclip = "==1.5.27"
python-dotenv = "==0.7.1"
ratelimit = "==1.4.1"
selenium = "==3.141.0"
slacker = "==0.9.60"
tldextract = "==2.1.0"
pytest = "==3.10.0"
requests-iap = "==0.2.0"
python-helpscout-v2 = "==1.0.1"

[dev-packages]
pylint = "==2.3.1"

[requires]
python_version = "3.6"
