[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Scrapy = "==1.5.0"
algoliasearch = "==1.13.0"
future = "==0.16.0"
pyperclip = "==1.5.27"
python-dotenv = "==0.7.1"
ratelimit = "==1.4.1"
selenium = "==3.141.0"
six = "==1.11.0"
slacker = "==0.9.60"
tldextract = "==2.1.0"
pytest = "==3.10.0"

[dev-packages]

[requires]
python_version = "2.7"
