algoliasearch==1.11.0
attrs==16.0.0
cffi==1.6.0
click==6.6
cryptography==1.4
cssselect==0.9.1
dotenv==0.0.5
enum34==1.1.4
future==0.15.2
idna==2.1
ipaddress==1.0.16
lxml==3.6.0
ndg-httpsclient==0.4.0
ordereddict==1.1
parsel==1.0.2
pyasn1==0.1.9
pyasn1-modules==0.0.8
pycparser==2.14
PyDispatcher==2.0.5
pyOpenSSL==16.0.0
pyperclip==1.5.27
python-dotenv==0.5.0
queuelib==1.4.2
requests==2.10.0
requests-file==1.4
Scrapy==1.1.0
selenium==2.53.6
service-identity==16.0.0
six==1.10.0
tldextract==2.0.1
Twisted==16.2.0
w3lib==1.14.2
zope.interface==4.2.0
slacker==0.9.29
